body {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }
  
  .boton1 {
    background-color:#7CFC00;
    color:  #663399;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  .boton1 {
    background-color: #FFFFFF;
  }